<div class="container-fluid bg-1 text-center profile-content">
  <h1 style="text-align: center">Latest Published</h1>
</div>
<hr/>
<%= render 'real_estates/card', real_estate_list: @latest_real_estate %>