<% if !real_estate_list.nil? and real_estate_list.any? %>
    <div class="container">
      <div class="row">
        <%= render real_estate_list %>
      </div>
      <%= will_paginate real_estate_list %>
    </div>
<% end %>
<br><br>