<div class="container-fluid bg-1 text-center profile-content">
  <h1 style="text-align: center">All Realestate</h1>
  <% if current_user %>
      <h4 class="profile-link"> <%= link_to '<i class="glyphicon glyphicon-plus"></i> Add'.html_safe, new_real_estate_path %> </h4>
  <% end %>
</div>
<hr/>
<%= render 'real_estates/card', real_estate_list: @real_estates %>