@import "bootstrap-sprockets";
@import "bootstrap";

$dark-color: #101010;
$gray-color: #f2f2f2;
$light-gray-color: #eeeeee;
$link-color: #fff;

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: $gray-color;
  padding: 25px;
}

form {
  text-align: center;
  padding-top: 10px;
}

.form-control {
  text-align: center;
}

.panel-heading a {
  color: $link-color;
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
}

.panel-heading a:visited {
  color: $link-color;
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
}

.panel-heading a:hover {
  background-color: transparent;
}

#error_explanation {
  width: 100% !important;
  ul {
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  width: 100%;
  .form-control {
    color: $state-danger-text;
  }
}

.pagination {
  font-size: 16px;
}

.pagination > * {
  margin-right: 0.1em;
  padding: 0.3em 0.4em;
}

.pagination a:hover {
  background: #202020 none repeat scroll 0 0;
  text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
  text-shadow: none;
}

.pagination .current {
  background: #202020 none repeat scroll 0 0;
  color: white;
  text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
  color: #C0C0C0;
}

.profile-link a {
  color: $dark-color;
}

.profile-link a:hover {
  background-color: $gray-color;
  color: $gray-color;
}

.profile-content {
  background-color: $gray-color;
}

.profile-button {
  background-color: $light-gray-color;
}

.panel-primary {
  border-color: $dark-color !important;
}

.panel-primary > .panel-heading {
  color: $gray-color !important;
  background-color: $dark-color !important;
  border-color: $dark-color !important;
}
