// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.profile-link a {
  color: #101010;
}

.profile-link a:hover {
  background-color: #f2f2f2;
  color: #93a3b5;
}

.profile-content {
  background-color: #f2f2f2;
}

.profile-button{
  background-color: #eeeeee;
}
